@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-text: #1c0401;
  --color-background: #ffffff;
  --color-primary: #eb5a3c;
  --color-secondary: #fccc7e;
  --color-accent: #fbcc4f;
}
